{% extends "layout.html" %}

{% block content %}
<div class="sign-form">
    <h2>Account</h2>
    <h3>Benutzername ändern</h3>
    <form method="POST" action="/account/username">
        <label for="username">Neuer Benutzername</label>
        <input type="text" name="username" value="{{ username }}" id="username">
        <input type="submit" value="Benutzername ändern">
    </form>
    <h3>Passwort ändern</h3>
    <form method="POST" action="/account/password">
        <label for="password">Neues Passwort</label>
        <input type="password" name="password" id="password">
        <label for="confirm-password">Neues Passwort wiederholen</label>
        <input type="password" name="confirm-password" id="confirm-password">
        <input type="submit" value="Passwort ändern">
    </form>
    <h3>Abmelden</h3>
    <form method="POST" action="/signout">
        <input type="submit" value="Abmelden">
    </form>
    <h3>Account löschen</h3>
    <form method="POST" action="/account/delete">
        <label for="username">Benutzername</label>
        <input type="text" name="username" id="username">
        <label for="password">Passwort</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Account löschen">
    </form>
    <ul class="errors">
    {% for flash in flashes -%}
        <li>{{ flash }}</li>
    {% endfor -%}
    </ul>
</div>
{% endblock %}