<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            {%- if signed_in -%}
            <a href="/game">Spiel</a>
            <a href="/account">Account</a>
            {%- else -%}
            <a href="/signup">Registrieren</a>
            <a href="/signin">Login</a>
            {%- endif -%}
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>